:root {
    --main-color: #386457;
    --current-color: #3A8972;
    --white-color: #fff;
}

body {
    font-family: 'Merriweather', serif;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* Header */

.header {
    height: 450px;
    background-image: url(../img/10745.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-color: var(--main-color);
    padding-top: 22px;

}

.header-wrap {
    position: relative;
    margin: auto;
    
    
}

.language {
    position: absolute;
    top: 0;
    right: 15px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;  /* identical to box height */
    color: rgba(255, 255, 255, 0.8);

    border: none;
    background-color: transparent;
    cursor: pointer;
}

.navigation {}

.header-menu-list {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
}

.header-menu-item {
    position: relative;
    display: block;
    list-style: none;
}

.header-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.28;  /* identical to box height */
    color: var(--white-color);
}

.header-link:hover, 
.header-link:focus {
    color: var(--white-color);
    text-decoration: underline;
}

.header-logo {
    /* fill: var(--main-color); */
}


.header-submenu-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

.header-submenu-item {
    list-style: none;
}

.header-submenu-link {
    text-decoration: none;
    display: block;
    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21; 
    color: var(--white-color);
    margin-top: 20px;
    white-space: nowrap;
}

.header-submenu-link:hover,
.header-submenu-link:focus {
    text-decoration: underline;
}

.poligon {
    visibility: hidden;
    opacity: 0;
    fill: currentColor;
    
}
.header-menu-item:hover .header-submenu-list,
.header-menu-item:hover .poligon
 {
    visibility: visible;
    opacity: 1;
}

.header-title-wrap {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.header-title {
       
    font-weight: 400;
    font-size: 72px;
    line-height: 1.26; 
    color: var(--white-color);
    

}

/* Main */

.news {
    padding-top: 50px;
    padding-bottom: 100px;
}

.aside {
    float: right;
    width: 264px;
    height: 930px;
    background-color: #D6D6D6;
}

.news-list {
    display: flex;
    gap: 30px;
    width: 870px;
    list-style: none;
}

.news-title {
    font-weight: 400;
    font-size: 42px;
    line-height: 0.48;
    /* identical to box height, or 48% */
    text-align: center;
    color: var(--main-color);
    margin-bottom: 60px;

}

.news-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    list-style: none;
}

.news-item {
    width: 270px;
    height: 450px;
}

.news-link {
    text-decoration: none;
}

.news-wrap {
    display: block;
    background: var(--white-color);
    box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.1);
}

.news-img {
    width: 270px;
}

.news-short {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 13px;
}

.news-subtitle {
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    
    color: var(--main-color);
    margin-top: 10px;
    margin-bottom: 10px;
}

.news-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    color: rgba(0, 0, 0, 0.7);
}

.news-more {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    text-decoration-line: underline;
    color: transparent;
}

.news-link:hover .news-more {
    color: var(--main-color);
}

.news-link:hover .news-wrap {
    box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.2);
}

/* Foter */

.footer {
    background-color: var(--main-color);
    height: 300px;
    padding-top: 40px;
}

.footer-wrap {
    display: flex;

}

.arr {
    width: 170px;
}

.arr-link {
    margin: 0 auto 15px;

}

.arr-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    /* identical to box height, or 143% */
    color: rgba(255, 255, 255, 0.7);
    margin: auto;
}

.arr-date {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    /* identical to box height, or 143% */
    color: rgba(255, 255, 255, 0.7);
}

.footer-menu {
    display: block;
    margin-left: 130px;
}

.footer-menu-list {
    list-style: none;
}

.footer-menu-item {
    margin-bottom: 20px;
}

.footer-menu-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.11;
    /* identical to box height, or 111% */
    color: var(--white-color);
    text-decoration: none;
}

.footer-menu-link:hover {
    text-decoration: underline;

}

.footer-contacts {
    width: 170px;
    margin-left: 105px;
}

.footer-contacts-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.11;
    /* identical to box height, or 111% */
    color: var(--white-color);
    margin-bottom: 10px;
}

.footer-contacts-list {
    list-style: none;
    margin-bottom: 10px;
}

.footer-contacts-item {
    text-decoration: none;
}

.footer-contacts-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    /* identical to box height, or 143% */
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

.footer-contacts-link:hover {
    text-decoration: underline;
}

.footer-address {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    /* or 143% */
    color: rgba(255, 255, 255, 0.7);
}