:root {
    --main-color: #386457;
    --current-color: #3A8972;
    --white-color: #fff;
}

body {
    font-family: 'Merriweather', serif;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* Header */

.header {
    height: 450px;
    background-image: url(../img/contancts_header.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-color: var(--main-color);
    padding-top: 22px;

}

.header-wrap {
    position: relative;
    margin: auto;


}

.language {
    position: absolute;
    top: 0;
    right: 15px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    /* identical to box height */
    color: rgba(255, 255, 255, 0.8);

    border: none;
    background-color: transparent;
    cursor: pointer;
}

.navigation {}

.header-menu-list {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
}

.header-menu-item {
    position: relative;
    display: block;
    list-style: none;
}

.header-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.28;
    /* identical to box height */
    color: var(--white-color);
}

.header-link:hover,
.header-link:focus {
    color: var(--white-color);
    text-decoration: underline;
}

.header-logo {
    /* fill: var(--main-color); */
}


.header-submenu-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

.header-submenu-item {
    list-style: none;
}

.header-submenu-link {
    text-decoration: none;
    display: block;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    color: var(--white-color);
    margin-top: 20px;
    white-space: nowrap;
}

.header-submenu-link:hover,
.header-submenu-link:focus {
    text-decoration: underline;
}

.poligon {
    visibility: hidden;
    opacity: 0;
    fill: currentColor;

}

.header-menu-item:hover .header-submenu-list,
.header-menu-item:hover .poligon {
    visibility: visible;
    opacity: 1;
}

.header-title-wrap {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.header-title {

    font-weight: 400;
    font-size: 72px;
    line-height: 1.26;
    color: var(--white-color);

}

/* Main */

/* Contact us */

.contact-us {
    width: 770px;
    margin-top: 60px;
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: auto;

}

.contact-us-form {
    
    margin: auto;
}

.form-title {
    font-weight: 400;
    font-size: 42px;
    line-height: 134.09%; /* or 56px */
    color: var(--main-color);
    margin-bottom: 50px;
    text-align: center;
    
}

.input-wrap {
    margin-bottom: 40px;
}

.contact-name-input {
    width: 270px;
    height: 30px;
    padding-left: 10px;

    background-color: #EFEFEF;
    border-radius: 1px;
    border: none;
    margin-right: 30px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 134.09%; 
    color: rgba(0, 0, 0, 0.4);
}

.contact-name-tel {
    width: 270px;
    height: 30px;
    padding-left: 10px;
    
    background-color: #EFEFEF;
    border-radius: 1px;
    border: none;
        
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 134.09%;
    color: rgba(0, 0, 0, 0.4);
}

.contact-name-surname {
    width: 270px;
    height: 30px;
    padding-left: 10px;
    
    background-color: #EFEFEF;
    border-radius: 1px;
    border: none;
    margin-right: 30px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 134.09%;
    color: rgba(0, 0, 0, 0.4);
}

.contact-name-email {
    width: 270px;
    height: 30px;
    padding-left: 10px;
    
    background-color: #EFEFEF;
    border-radius: 1px;
    border: none;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 134.09%;
    color: rgba(0, 0, 0, 0.4);
}

.contact-name-organization {
    width: 570px;
    height: 30px;
    padding-left: 10px;
    margin-bottom: 40px;
    
    background-color: #EFEFEF;
    border-radius: 1px;
    border: none;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 134.09%;
    color: rgba(0, 0, 0, 0.4);
}

.contact-feedback {
    width: 770px;
    height: 400px;
    padding-left: 10px;
    margin-bottom: 30px;
    
    background-color: #EFEFEF;
    border-radius: 1px;
    border: none;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 134.09%;
    color: rgba(0, 0, 0, 0.4);

    resize: none;
}

.contact-button {
    display: block;
    width: 300px;
    height: 60px;
    background-color:var(--main-color);
    border-radius: 1px;
    border: none;
    margin: auto;

    cursor: pointer;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 134.09%; /* or 32px */
    color: var(--white-color);

}

.contact-button:hover,
.contact-button:focus {
    background-color: var(--current-color);
}

/* Contacts */

.contacts {
    margin-bottom: 224px;
}

.contacts-wrap {
    display: flex;
    justify-content: space-between;
}

.address-wrap {}

.telephons-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 134.09%;    
    color: var(--main-color);
    margin-bottom: 12px;
}

.telephone-list {
    list-style: none;
    margin-bottom: 57px;
}

.telephon-item {
    margin-bottom: 2px;
    
}

.telephon-item:last-child {
    margin-bottom: 0;
}
.telephon-number {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 134.09%; /* identical to box height, or 24px */
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.7);
}

.working-hour-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 134.09%;
    color: var(--main-color);
    margin-bottom: 12px;
}

.working-day {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 134.09%; /* identical to box height, or 24px */
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 2px;
}

.working-time {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 134.09%;  /* identical to box height, or 24px */
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 65px;
}

.address-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 134.09%;
    color: var(--main-color);
    margin-bottom: 12px;
}

.address-sity {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 134.09%;  /* identical to box height, or 24px */
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 2px;
}

.address-street {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 134.09%;  /* identical to box height, or 24px */
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 2px;
    }

.address-street:last-child {
    margin-bottom: 0;
}

.location-link {}

.location-img {
    width: 770px;
    height: 510px;
}

/* Foter */

.footer {
    background-color: var(--main-color);
    height: 300px;
    padding-top: 40px;
}

.footer-wrap {
    display: flex;

}

.arr {
    width: 170px;
}

.arr-link {
    margin: 0 auto 15px;

}

.arr-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    /* identical to box height, or 143% */
    color: rgba(255, 255, 255, 0.7);
    margin: auto;
}

.arr-date {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    /* identical to box height, or 143% */
    color: rgba(255, 255, 255, 0.7);
}

.footer-menu {
    display: block;
    margin-left: 130px;
}

.footer-menu-list {
    list-style: none;
}

.footer-menu-item {
    margin-bottom: 20px;
}

.footer-menu-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.11;
    /* identical to box height, or 111% */
    color: var(--white-color);
    text-decoration: none;
}

.footer-menu-link:hover {
    text-decoration: underline;

}

.footer-contacts {
    width: 170px;
    margin-left: 105px;
}

.footer-contacts-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.11;
    /* identical to box height, or 111% */
    color: var(--white-color);
    margin-bottom: 10px;
}

.footer-contacts-list {
    list-style: none;
    margin-bottom: 10px;
}

.footer-contacts-item {
    text-decoration: none;
}

.footer-contacts-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    /* identical to box height, or 143% */
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

.footer-contacts-link:hover {
    text-decoration: underline;
}

.footer-address {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    /* or 143% */
    color: rgba(255, 255, 255, 0.7);
}